@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
	background-color: rgb(255,255,255);
	overflow-x: hidden;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-weight: 700;
	color: dimgray
}

@media(max-width: 770px) {
	.App {
		margin: 0 5%
	}
}